* {
	box-sizing: border-box;
}

html,
body {
	color: #99a0b0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #f5f5fa;
	font-size: 16px;
	line-height: 120%;
	font-family: Open Sans, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
}
/* table {
    width: 800px;
    border-collapse: collapse;
    overflow: scroll;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #1b253d;
}
th {
    text-align: left;
}
thead th {
    background-color: #4b84fe;
} */

.dashboard {
	display: grid;
	width: 100%;
	height: 100%;
	grid-gap: 0;
	grid-template-columns: 300px auto;
	grid-template-rows: 80px auto;
  grid-template-areas: 'menu search'
												'menu content';
}

.menu_wrap {
	grid-area: menu;
	padding-bottom: 3em;
	overflow: auto;
	background: #fff;
	border-right: 1px solid #ede8f0;
	
	.user {
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin: 0;
		padding: 0 3em;
		
		.user_avatar {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			overflow: hidden;
			
			svg {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		
		.user_email {
			margin: 0;
			color: grey;
			font-weight: 500;
			font-size: 0.875em;
		}

		figcaption {
			margin: 0;
			padding: 0 0 0 1em;
			color: #1b253d;
			font-weight: 700;
			font-size: 0.875em;
			line-height: 100%;
		}
	}
	
	nav {
		display: block;
		padding: 0 3em;
		
		section {
			display: block;
			padding: 3em 0 0;
		}
		
		h3 {
			margin: 0;
			font-size: .875em;
			text-transform: uppercase;
			color: #4b84fe;
			font-weight: 600;
		}
		
		ul {
			display: block;
			padding: 0;
			margin: 0;
		}
		
		li {
			display: block;
			padding: 0;
			margin: 1em 0 0;
			
			a {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				color: #99a0b0;
				text-decoration: none;
				font-weight: 600;
				font-size: .875em;
				transition: color .15s ease;
				
				svg {
					display: block;
					margin-right: 1em;
					
					path,
					circle {
						fill: lighten(#99a0b0, 10%);
						transition: fill .15s ease;
					}
				}
				
				&:hover {
					color: #1b253d;
					
					svg {
						path,
						circle  {
							fill: lighten(#1b253d, 10%);
						}
					}
				}
				
				&.active {
					color: #4b84fe;
					
					svg {
						path,
						circle  {
							fill: #4b84fe;
						}
					}
				}
			}
		}
	}
}

.content_wrap {
	grid-area: content;
	padding: 3em;
	overflow: auto;
	
	.content_head	{
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		h1 {
			font-size: 1.375em;
			line-height: 100%;
			color: #1b253d;
			font-weight: 500;
			margin: 0;
			padding: 0;
		}
		
		.action {
			button {
				border: 0;
				background: #4b84fe;
				color: #fff;
				width: auto;
				height: 3.5em;
				padding: 0 2.25em;
				border-radius: 3.5em;
				font-size: 1em;
				text-transform: uppercase;
				font-weight: 600;
				transition: background-color .15s ease;
				
				&:hover {
					background-color: darken(#4b84fe, 10%);
					
					&:active {
						background-color: darken(#4b84fe, 20%);
						transition: none;
					}
				}
			}
		}
	}

	.info_boxes {
		padding: 3em 0 2em;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		grid-gap: 2em;
		
		.info_box {
			background: #fff;
			height: 160px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: 0 3em;
			border: 1px solid #ede8f0;
			border-radius: 5px;
			
			.box_icon {
				svg {
					display: block;
					width: 48px;
					height: 48px;
					
					path,
					circle {
						fill: #99a0b0;
					}
				}
			}
			
			.box_content {			
				padding-left: 1.25em;
				white-space: nowrap;
				
				.big {
					display: block;
					font-size: 2em;
					line-height: 150%;
					color: #1b253d;
				}
			}
			
			&.active {
				svg {
					circle,
					path {
						fill: #4b84fe;
					}
				}
			}
		}
	}

}

.input {
    width: 320px;
    height: 35px;
    padding: 5px;
    margin: 5px 0;
    outline: none;
    border: 1px solid #2c444e;
    border-radius: 2px;
    font-size: 13px;
}